@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}   
h3{
    text-align: center;
    padding: 2% 0;
}
.conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15% auto;
}
.form-holder{
    display: flex;
    flex-direction: column;
    width: 40vw;

    border-style: solid black 10px;
    border-radius: 10px;
    background-color: rgba(218, 165, 32, 0.61);
}
.form{
    display: flex;
    justify-content: space-between;
    padding: 1% 1%;
}
.input{
    width: 15vw;
    border-style: solid 2px black;
    border-radius: 10px;
}
#submitBtn{
    width: 15vw;
    border-radius: 10px;
}
body {
    background-color: #fff; /* cor de fundo padrão */
    color: #000; /* cor do texto padrão */
}

.dark-mode {
    background-color: #000; /* cor de fundo no modo escuro */
    color: #fff; /* cor do texto no modo escuro */
}  